.metadata
**/.svn
**/*.omc
dev/obj/*
web/*
web-sf/*
lib/*
doc/*
bin/*
dev/bin/rabs
dev/bin/rlink
dev/doc
dev/rst/*
dev/gen
/.project
/.anjuta/*
**/*.bz2
**/*.o
dev/inc/gcc/Gtk/*
dev/src/Lib/Gtk/*
dev/lib/Gtk/*
dev/pkg/debian/*
dev/src/Lib/Csv/Csv
dev/inc/gcc/Event
dev/lib/Event
dev/src/Lib/Event
**/.codelite
*.project
*.cbp
dev/_build_.db
dev/.omakedb
dev/.omakedb.lock
callgrind.out.*
_build_.db*

**/NME
**/Haru
**/Raw
**/Wrapl/Compiler
dev/src/Lib/WraplC
dev/src/Wredit
dev/src/Plugin
tst
/Debug/
