.metadata
**/.svn
**/*.omc
dev/obj/*
web/*
web-sf/*
lib/*
doc/*
bin/*
dev/bin/rabs
dev/bin/rlink
dev/doc
dev/rst/*
/.project
/.anjuta/*
**/*.bz2
**/*.o
**/Gtk/*
dev/inc/gcc/Gir
dev/lib/Gir
dev/pkg/debian/*
dev/src/Lib/Csv/Csv
dev/inc/gcc/Event
dev/lib/Event
dev/src/Lib/Event
**/.codelite
*.project
*.cbp
dev/_build_.db
dev/.omakedb
dev/.omakedb.lock
dev/web/
